.x-colorpicker-field {

    .#{$prefix}form-item-body {
        position: relative;
    }

    .x-color-swatch {
        position         : absolute;
        left             : 4px;
        top              : 4px;
        width            : 20px;
        bottom           : 4px;
        background-image : theme-background-image('checkerboard', 'png');

        .x-color-swatch-inner {
            position : absolute;
            height   : 100%;
            width    : 100%;
        }
    }

    input {
        padding-left: 26px;
    }

} // eo .x-colorpicker-field
